<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Cambio Climático</title>
  </head>
  <body>
    <!-- Header principal -->
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">¿QUÉ ES?</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">¿CÓMO SE CAUSA?</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#causa">¿QUÉ CAUSA?</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#combat">¿CÓMO CONTRARRESTARLO?</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#notes">NOTAS</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <!-- ¿Qué es el cambio climático? -->
      <section class="main__home home" id="home">
        <div class="text-container">
          <h1 class="home__title">¿QUÉ ES EL CAMBIO CLIMÁTICO?</h1>
          <p class="home__subtitle">
            El cambio climático es el fenómeno que describe las transformaciones a largo plazo en los patrones de clima global. Aunque en la historia de la Tierra siempre ha habido fluctuaciones naturales en el clima, lo que se observa hoy en día es un cambio mucho más rápido y fuerte, impulsado principalmente por las actividades humanas. Esto incluye el aumento de la temperatura promedio de la Tierra, cambios en las precipitaciones, y fenómenos meteorológicos extremos más frecuentes, como tormentas, sequías e inundaciones.
          </p>
          <p>
            Lo que hace único al cambio climático actual es que, debido a las emisiones de gases contaminantes, especialmente dióxido de carbono (CO₂), estamos alterando el equilibrio del clima de manera que afecta a todos los ecosistemas del planeta.
          </p>
          <p>
            Este cambio no se limita a un área geográfica o estación del año: es un proceso global que afecta a todo el mundo, alterando el medio ambiente, los recursos naturales y, en última instancia, las vidas humanas.
          </p>
        </div>
        <div class="image-container">
          <img src="static/img/cambio climatico.jpg" alt="Imagen relacionada con el cambio climático" class="home__image" />
        </div>
      </section>

      <!-- ¿Cómo se causa el cambio climático? -->
      <section class="main__about about" id="about">
        <h2 class="about__title">¿CÓMO SE CAUSA EL CAMBIO CLIMÁTICO?</h2>
        <div class="about__info info-block">
          <div class="text-with-image">
            <p class="info-block__text">
              El cambio climático es causado por la acumulación de gases de efecto invernadero (GEI) en la atmósfera, que atrapan el calor. Las principales causas de esta acumulación son:
              <br><br>
              <strong>1. Emisión de gases de efecto invernadero:</strong> La quema de combustibles fósiles (carbón, petróleo, gas) para energía y transporte libera dióxido de carbono (CO₂) y otros gases como metano (CH₄) y óxidos de nitrógeno (N₂O), que intensifican el calentamiento global.
              <br><br>
              <strong>2. Deforestación:</strong> La tala de bosques reduce la capacidad de la Tierra para absorber CO₂, liberando el carbono almacenado en los árboles.
              <br><br>
              <strong>3. Agricultura industrial:</strong> La ganadería y el uso de fertilizantes liberan metano (CH₄) y óxidos de nitrógeno (N₂O), gases con gran impacto en el cambio climático.
              <br><br>
              <strong>4. Desperdicio de alimentos:</strong> Los residuos orgánicos en vertederos generan metano debido a su descomposición anaeróbica.
              <br><br>
              <strong>5. Productos químicos industriales:</strong> Los gases como los hidrofluorocarbonos (HFC), utilizados en refrigerantes, contribuyen al calentamiento global y dañan la capa de ozono.
            </p>
            <img
            class="info-block__img" 
            src="static/img/Cambio C.jpg" 
            alt="Cambio climático" 
            width="500" 
            height="400"
            />
          </div>
        </div>
      </section>

      <!-- ¿Qué causa el cambio climático? -->
      <h2 class="skills__title" id="causa">¿QUÉ CAUSA EL CAMBIO CLIMÁTICO?</h2>
      <p class="skills__description">
        Las principales consecuencias del cambio climático están directamente relacionadas con las alteraciones del clima, 
      </p>
      <p class="skills__description">
        que afectan tanto a los seres humanos como a los ecosistemas. Algunas de las principales causas son:
      </p>      
        <ul class="skills__list skills-list">
          <li class="skills-list__skill skill">
            <img
              class="skill__img"
              src="static/img/tormenta.png"
              alt="Temperaturas extremas"
              width="150"
              height="150"
            />
            <span class="skill__info">
              <strong>Aumento de Temperaturas Globales:</strong> Las olas de calor más frecuentes y extremas afectan la salud humana, la productividad agrícola y aumentan las enfermedades relacionadas con el calor.
            </span>
            <div class="skill__details">
              <p>Las temperaturas extremas afectan la salud pública, la agricultura y provocan un aumento de enfermedades cardiovasculares y respiratorias.</p>
            </div>
          </li>
          <li class="skills-list__skill skill">
            <img
              class="skill__img"
              src="static/img/glaciar.jpg"
              alt="Desglaciación"
              width="150"
              height="150"
            />
            <span class="skill__info">
              <strong>Desglaciación y aumento del nivel del mar:</strong> El derretimiento de glaciares y casquetes polares amenaza las zonas costeras y aumenta el nivel del mar.
            </span>
            <div class="skill__details">
              <p>El deshielo de glaciares y la expansión térmica del agua contribuyen al aumento del nivel del mar, amenazando islas y regiones bajas.</p>
            </div>
          </li>
          <li class="skills-list__skill skill">
            <img
              class="skill__img"
              src="static/img/tormenta.png"
              alt="Tormentas más intensas"
              width="150"
              height="150"
            />
            <span class="skill__info">
              <strong>Fenómenos Meteorológicos Extremos:</strong> Huracanes, ciclones, tormentas y sequías más intensas, aumentando los daños y desplazamientos forzados.
            </span>
            <div class="skill__details">
              <p>El cambio climático incrementa la frecuencia y severidad de fenómenos como huracanes y tormentas, causando pérdidas humanas y materiales.</p>
            </div>
          </li>
          <li class="skills-list__skill skill">
            <img
              class="skill__img"
              src="static/img/animal.jpg"
              alt="Extinción de especies"
              width="150"
              height="150"
            />
            <span class="skill__info">
              <strong>Desplazamiento de Especies y Pérdida de Biodiversidad:</strong> Los ecosistemas se modifican rápidamente, llevando a la extinción de muchas especies.
            </span>
            <div class="skill__details">
              <p>El cambio climático está alterando los hábitats de muchas especies, lo que lleva a la pérdida de biodiversidad y afecta la cadena alimentaria.</p>
            </div>
          </li>
          <li class="skills-list__skill skill">
            <img
              class="skill__img"
              src="../static/img/agricultura.jpg"
              alt="Agricultura alterada"
              width="150"
              height="150"
            />
            <span class="skill__info">
              <strong>Alteración de la Agricultura:</strong> Cambios en las precipitaciones y temperaturas que afectan la producción de alimentos.
            </span>
            <div class="skill__details">
              <p>El aumento de temperaturas y los cambios en las lluvias alteran la productividad agrícola, afectando la calidad y cantidad de las cosechas.</p>
            </div>
          </li>
        </ul>
      </section>


      <!-- ¿Cómo contrarrestar el cambio climático? -->
      <section class="main__skills skills" id="skills">
        <h2 class="skills__title">¿CÓMO CONTRARRESTAR EL CAMBIO CLIMÁTICO?</h2>
        <p class="skills__description">
          Existen varias estrategias para contrarrestar el cambio climático y mitigar sus efectos. Algunas de las principales son:
        </p>
        <ul class="skills__list skills-list">
          <li class="skills-list__skill skill">
            <img
              class="skill__img"
              src="static/img/energia.png"
              alt="Energía renovable"
              width="150"
              height="150"
            />
            <span class="skill__info">
              <strong>Reducir las Emisiones de Gases de Efecto Invernadero:</strong> Invertir en energías renovables como la solar, eólica, geotérmica e hidroeléctrica.
            </span>
            <div class="skill__details">
              <p>La transición hacia fuentes de energía limpias y sostenibles es clave para disminuir las emisiones de CO₂ y frenar el cambio climático.</p>
            </div>
          </li>
          <li class="skills-list__skill skill">
            <img
              class="skill__img"
              src="static/img/reforestar.jpg"
              alt="Reforestación"
              width="150"
              height="150"
            />
            <span class="skill__info">
              <strong>Reforestar y Proteger los Bosques:</strong> Los bosques son esenciales para absorber CO₂. Detener la deforestación es crucial.
            </span>
            <div class="skill__details">
              <p>La protección y expansión de los bosques ayuda a reducir las concentraciones de CO₂ en la atmósfera, contribuyendo a mitigar el cambio climático.</p>
            </div>
          </li>
          <li class="skills-list__skill skill">
            <img
              class="skill__img"
              src="static/img/electrico.jpg"
              alt="Movilidad eléctrica"
              width="150"
              height="150"
            />
            <span class="skill__info">
              <strong>Fomentar el Transporte Público y la Movilidad Eléctrica:</strong> Reducir el uso del transporte privado y promover alternativas sostenibles.
            </span>
            <div class="skill__details">
              <p>El uso de vehículos eléctricos y el fomento del transporte público ayudan a reducir las emisiones de gases contaminantes.</p>
            </div>
          </li>
          <li class="skills-list__skill skill">
            <img
              class="skill__img"
              src="static/img/agricola.jpg"
              alt="Agricultura sostenible"
              width="150"
              height="150"
            />
            <span class="skill__info">
              <strong>Fomentar Prácticas Agrícolas Sostenibles:</strong> Técnicas como la rotación de cultivos y la agricultura de precisión para reducir las emisiones agrícolas.
            </span>
            <div class="skill__details">
              <p>La agricultura sostenible mejora la salud del suelo y reduce las emisiones de gases de efecto invernadero como el metano.</p>
            </div>
          </li>
          <li class="skills-list__skill skill">
            <img
              class="skill__img"
              src="static/img/adaptacion.jpg"
              alt="Adaptación al cambio climático"
              width="150"
              height="150"
            />
            <span class="skill__info">
              <strong>Adaptación a los Cambios Climáticos Inevitable:</strong> Fortalecer infraestructuras y proteger zonas vulnerables frente a fenómenos extremos.
            </span>
            <div class="skill__details">
              <p>A pesar de los esfuerzos de mitigación, la adaptación es clave para proteger las comunidades y los bienes de los efectos del cambio climático.</p>
            </div>
          </li>
          <li class="skills-list__skill skill">
            <img
              class="skill__img"
              src="static/img/educacion.jpg"
              alt="Educación ambiental"
              width="150"
              height="150"
            />
            <span class="skill__info">
              <strong>Promoción de la Educación y la Concienciación:</strong> Sensibilizar sobre el impacto del cambio climático y fomentar hábitos sostenibles.
            </span>
            <div class="skill__details">
              <p>La educación y concienciación pública son esenciales para generar un cambio de comportamiento a nivel individual, comunitario y empresarial.</p>
            </div>
          </li>
        </ul>
      </section>

      <!-- Notas -->
      <section class="main__notes notes" id="notes">
        <div class="notes__header">
          <h2 class="notes__title">NOTAS SOBRE EL CAMBIO CLIMÁTICO</h2>
          <!-- Formulario para eliminar todas las notas -->
          <form action="{{ url_for('delete_all') }}" method="POST">
            <button type="submit" class="delete_button">Eliminar todas las notas</button>
          </form>
        </div>
      
        <!-- Lista de tarjetas -->
        <ul class="cards-list">
          {% for el in cards %}
          <li class="card">
            <a class="card__link" href="/card/{{ el.id }}">
              <img class="card__img" src="static/img/arbol.jpg" width="250" height="250" alt="Icono de la nota">
              <div class="card__text">
                <h2 class="card__title">{{ el.title }}</h2>
                <p class="card__subtitle">{{ el.subtitle }}</p>
              </div>
            </a>
          </li>
          {% endfor %}
          
          <!-- Enlace para crear una nueva tarjeta -->
          <li class="card card--create">
            <a class="create__link" href="{{ url_for('create') }}"></a>
          </li>
        </ul>
      </section>
    </main>

    <footer>
      <!-- Enlaces a redes sociales o información adicional -->
    </footer>
  </body>
</html>
